header {
    padding-top: 1em;
    align-content: center;
    text-align:center;
    align-items: baseline;
    border: 10px solid antiquewhite;
    background-color: azure;
}
main {
    padding-top: 5em;
    align-content: baseline;
    text-align: center;
    align-items: start;
    width: 100%;
    border: 10px solid antiquewhite;
    background-color: antiquewhite;
    
}
div{
    padding: 5px 10px 5px 5px; 
}
label{
    vertical-align: super;
    display:block;
}
.mensagem {
    padding: 10px 30px 10px 30px;
    width: 200px;
    height: 300px;
    text-wrap: avoid;
    text-align-last: auto;
    text-align: justify;
}

.endereco {
    width: 500px;
}

.btn {
    border-radius: 90px;
    width: 30px;
    background-color: burlywood;
    color: tomato;
    stroke-width: 900;
    font-size: 20px;
}
#texto {
    background-color: burlywood;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    align-content: flex-end;
}
#variavel {
    background-color: burlywood;
    align-content: flex-end;
    width: 500px;
    height:600px;
}
btnCop {
    border-radius: 90px;
    width: 100px;
    background-color: burlywood;
    color: tomato;
    stroke-width: 900;
    font-size: 20px;
}
.varPainel {
     align-content: baseline;
     padding: 10px;
}

footer {
    padding-top: 1em;
    border: 10px solid antiquewhite;
    text-align: right;
    align-items: end;
    align-content: end;
    background-color: powderblue;
}
