header {
    position:relative;
    padding-top: 1em;
    align-content: start;
    text-align:center;
    align-items: baseline;
    border: 10px solid antiquewhite;
    background-color: azure;
}
main {
    padding-top: 1em;
    align-content: baseline;
    text-align: center;
    align-items: start;
    width: 100%;
    border: 10px solid antiquewhite;
    background-color: antiquewhite;
    
}
div{
    padding: 5px 10px 5px 5px; 
    
}
label{
    vertical-align: super;
    display:block;
}

.cardCol {
    vertical-align: super;    
    align-items:start;
    display: flex;
    box-sizing: border-box;
    background-color: #aaffbe;
    width: 80%;
    height: 30%;
}

.corpoTexto {
    /*vertical-align: super;*/
    /*display: inline-block;*/
    /*align-items: flex-start;*/
    text-align: start;
    overflow: scroll;
    left: 10px;
    padding: 10px 10px 10px 10px;
    background-color: azure;
    width: 75%;
    height: 600px;
    top: 0px;
}

.col {
    align-content: center;
    
    
    border: groove;
    padding: 10px;
    width: 60%;
    flex-direction: row;
    
}

.variavel {
    overflow: scroll;
    position: fixed;
    bottom: 100px;
    /*top: 50px;*/
    max-height: 70%;
    right: 0px;
    padding: 20px 20px 20px 20px;
    background-color: burlywood;
    width: 25%;
    /*height: 600px;*/
}

.endereco {
    width: 500px;
}

.botao {
    border-radius: 90px;
    height: 30px;
    width: 30px;
    background-color: aliceblue;
    color: tomato;
    stroke-width: 900;
    font-size: 20px;
}

#texto {
    background-color: burlywood;
    border-radius: 10px;
    width: 500px;
    height: 600px;
    align-content: flex-end;
}

.card {
    align-content: baseline;
    vertical-align: super;
    align-items: start;
    display: flex;
    position: center;
    display: compact;
    background-color: #1131ce;
    padding: 10px;
    width: min-content;
}

btnCop {
    border-radius: 90px;
    width: 100px;
    background-color: burlywood;
    color: tomato;
    stroke-width: 900;
    font-size: 20px;
}
.varPainel {
    position: static;
     align-content: center;
     padding: 10px;
     background-color: bisque;
     border-radius: 50px;
}

footer {
    position: fixed;
    padding: 5em;
    height: 5px;
    padding-top: 1em;
    border: 10px solid antiquewhite;
    text-align: right;
    align-items: end;
    align-content: end;
    background-color: powderblue;
    bottom: 0px;
    right: 0px;
}
